.new-user-form {
  background-color: #6591c0;
  margin-top: 10px;
  border: 1px solid rgb(17, 94, 146);
  border-radius: 20px;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

.new-user-form button {
  height: 30px;
  width: 70px;
}