.users-Info div {
  padding-right: 20px;
  display: flex;
  background-color: #6591c0;
  margin-top: 10px;
  border-radius: 20px;
  color: black;
}

.users-Info header {
  color: #334b64;
}


.users-Info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  margin-left: 30px;

}

.users-Info h4 {
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.users-Info-Button button {
  width: 100px;
}